<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Task {{ filename }} - Operated by KevinZonda Engineering</title>
        <style>
            .content {
                padding: 20px;
                max-width: 80%;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <main class="content">
            <h1>Task ID: {{ filename }}</h1>
            <h2>
                <a target="_blank" href="/md/{{ filename }}" class="link">MD</a>
                <a target="_blank" href="/zip/{{ filename }}" class="link">ZIP</a>
            </h2>
            {{ content }}
        </main>
    </body>
</html>
